.authentication{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.register form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

input{
    padding: 1rem;
    width: 15rem;
    text-align: center;
}

button{
    width: 17.5rem;
    padding: 1rem;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}