.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    align-items: center;
}

.branding{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

img{
    width: 50%;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}